* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: wheat;
}

content {
  display: flex;
  flex-direction: row;
}

.days,
.hours,
.mins,
.secs {
  margin: 1rem;
}

.digit {
  display: inline-block;
}
