* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

h2 {
  margin-bottom: 2rem;
}

content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.days,
.hours,
.mins,
.secs {
  display: flex;
  flex-direction: row;
  margin-right: 2rem;
  margin-bottom: 2rem;
  filter: drop-shadow(0px,0px,12px,rgba(0,0,0,.3));
}

.digit {
  display: inline;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  font-size: 3rem;
}

body {
  width: 90%;
  margin: 0 auto;

}
